.bookContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    overflow: auto;
  }
  
  .bookItem {
    width: 200px;
    height: 100px;
    background-color: white; /* Dark background color */
    padding: 10px;
    display: flex;
    flex-direction: column;

    /* border: 2px solid #f08080; Light border color */
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Add smooth transition on hover */
  }
  
  .bookItem:hover {
    transform: scale(1.05); /* Scale up on hover */
  }
  
  .bookId {
    margin: 2px;
    color: #d2691e; /* Chocolate color */
    font-weight: bold;
  }
  
  .bookContent {
    margin: 2px;
    color: #0a0af0; /* Dark blue color */

  }
  
  .bookmarkContainer {
    overflow: auto;
    /* Add additional styles for the bookmark container if needed */
  }
  