.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 350px;
    height: 250px;
    
}

.card-block {
    display: flex;
    flex-direction: column;
}

.card-username {
    font-size: 1.2em;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    color: #1da1f2; /* Twitter's brand color */
}

.card-content {
    color: #333;
    overflow: hidden;
    max-height: 250px; /* Adjust as needed */
    display: -webkit-box;
    -webkit-line-clamp: 8; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.svgicons {
    display: flex;
    gap: 20%;
    align-items: flex-start;
}

.svgicons > span {
    cursor: pointer;
}

.likesicon svg {
    fill: #e0245e; /* Adjusted like color for active state */
}

.card-username svg{
    height: 1.3em;
}
